@import url('https://fonts.googleapis.com/css?family=Yantramanav:100,300,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/* Clears all the default margins so I don't need to deal with white borders on the edges
   Also used to set up the font used for the website, "*" selects every item in the HTML file.
   
   Also lots of the CSS units I used were "vh" and "vw", which are the height and width proportions of the browser window.
   This makes the website more responsive to different screen sizes.
*/

* {
  font-family: 'Yantramanav', sans-serif;
  margin: 0;
}

/* Modify how text is highlighted */
::selection {
  background: #E0AF3C;
  color: white;
}

::-moz-selection {
  background: #E0AF3C;
  color: white;
}

/* --- Basic HTML tags --- */
p,ul,a {
  display:block;
}

p {
  font-size: calc(0.4em + 0.8vw);
  line-height: calc(0.8em + 1vw);
  font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
  display: block;
  font-weight: 300;
}

h1 {
  font-size: calc(2em + 1vw);
}

h2 {
  font-size: calc(1em + 1vw);
}

h3 {
  font-size: calc(0.5em + 1vw);
}

strong {
  color: #E0AF3C;
  font-weight: 400;
}

b {
  color: #70C1B3;
  font-weight: 400;
}

/* --- Main header CSS --- */

.main_container {
  height: 100vh;
}

.fixed_container { /* This container is to contain the rest of the content, these won't get affected by the parallax effect */
  background-color: white;
  display: block;
  position: relative;
  z-index: 1;
}

/* Front part of the header */

.landing {
  background: /*url('../img/faded-landing.png')*/ #121212  center center;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: -o-crisp-edges;            /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
  -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
  height: 100vh;
  top: 0;
  z-index: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  /*background-position: 0 -150px;*/
  overflow: hidden;
}

.pics {
  position: absolute;
  top: 0;
  height: 100vh;
  left: 0;
}

#pic-container {
  position: relative;
  top: 0;
  height: 100%;
  left: 0;
  z-index: 0;
}

#pic-container > img {
  position: absolute;
}

#card {
  top: calc(18vh);
  left: calc(55vw);
  width: 30vw;
  height: 60vh;
  object-fit: cover;
  -webkit-box-shadow: 0px 0px 29px -4px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 0px 29px -4px rgba(0,0,0,0.29);
  box-shadow: 0px 0px 29px -4px rgba(0,0,0,0.29);
  filter: grayscale(20%);
  border: 1px solid #e8e8e8;
}

#back-border {
  top: calc(18vh);
  left: calc(55vw);
  width: 30vw;
  height: 60vh;
  position: absolute;
}

.dotted1 {
  z-index: -3;
  transform: translate(3vmin, -3vmin);
  border: 1px solid #e8e8e8;
  background-color: #b55959;
}

.dotted2 {
  z-index: -3;
  transform: translate(-3vmin, 3vmin);
  border: 1px solid #e8e8e8;
  background-color: #648f78;
}

#dot-grid {
  top: calc(40vh);
  left: 0.3vw;
  width: 100vw;
  height:  40vh;
  position: absolute;
  z-index: -4;
  background-image: radial-gradient(circle at 1px 1px, #919191 1px, transparent 0);
  background-size: 40px 40px;
}

#circle-back {
  top: calc(-31vw + 2em);
  left: 5vw;
  width: 40vw;
  height: 40vw;
  position: absolute;
  z-index: -5;
  background-color: #1f1f1f;
  border-radius: 50%;
}

#circle-border {
  top: calc(-31vw + 2em);
  left: 5vw;
  width: 40vw;
  height: 40vw;
  position: absolute;
  z-index: -6;
  border-radius: 50%;
  border: 2px dashed rgb(105, 255, 195,0.6);
  transform: scale(1.2);
}

#triangle1 {
  top: 88vh;
  left: 5%;
  position: absolute;
  z-index: -6;
  width: 0; 
  height: 0; 
  border-top: 1.5vmin solid transparent;
  border-bottom: 1.5vmin solid transparent;
  border-left: calc(0.866 * 3vmin) solid #b55959;
}
#triangle2 {
  top: 88vh;
  left: 8%;
  position: absolute;
  z-index: -6;
  width: 0; 
  height: 0; 
  border-top: 1.5vmin solid transparent;
  border-bottom: 1.5vmin solid transparent;
  border-left: calc(0.866 * 3vmin) solid #b55959;
}
#triangle3 {
  top: 88vh;
  left: 11%;
  position: absolute;
  z-index: -6;
  width: 0; 
  height: 0; 
  border-top: 1.5vmin solid transparent;
  border-bottom: 1.5vmin solid transparent;
  border-left: calc(0.866 * 3vmin) solid #b55959;
}

#triangle4 {
  top: 5vh;
  left: 92%;
  position: absolute;
  z-index: -6;
  width: 0; 
  height: 0; 
  border-left: 1.5vmin solid transparent;
  border-right:  1.5vmin solid transparent;
  border-top: calc(0.866 * 3vmin) solid #648f78;
}

#triangle5 {
  top: calc(5vh + 3vw);
  left: 92%;
  position: absolute;
  z-index: -6;
  width: 0; 
  height: 0; 
  border-left: 1.5vmin solid transparent;
  border-right:  1.5vmin solid transparent;
  border-top: calc(0.866 * 3vmin) solid #648f78;
}

#triangle6 {
  top: calc(5vh + 6vw);
  left: 92%;
  position: absolute;
  z-index: -6;
  width: 0; 
  height: 0; 
  border-left: 1.5vmin solid transparent;
  border-right:  1.5vmin solid transparent;
  border-top: calc(0.866 * 3vmin) solid #648f78;
}

#square1 {
  top: 88vh;
  left: 92%;
  position: absolute;
  z-index: -6;
  width: 2vw; 
  height: 2vw; 
  border: 1px solid #a3a3a3;
}

#square2 {
  top: 88vh;
  left: calc(92% - 2vw - 9px);
  position: absolute;
  z-index: -6;
  width: 2vw; 
  height: 2vw; 
  border: 1px solid #a3a3a3;
}

#square3 {
  top: calc(88vh - 2vw - 9px);
  left: calc(92% - 2vw - 9px);
  position: absolute;
  z-index: -6;
  width: 2vw; 
  height: 2vw; 
  border: 1px solid #a3a3a3;
}

#square4 {
  top: calc(88vh - 2vw - 9px);
  left: 92%;
  position: absolute;
  z-index: -6;
  width: 2vw; 
  height: 2vw; 
  border: 1px solid #a3a3a3;
}

/* How message on header is displayed */

.greeting {
  color:#e8e8e8;
  height: 100vh;
  position:absolute;
  top: 50vh;
  left: 10%;
  width: 0;
}

@media (max-width: 580px) {
	.greeting h1 {
		max-width: 50%;
		width: max-content;
		padding: 0 !important;
	}
}

/* --- Navigation Bar --- */

.nav_list {
  display: inline-block;
  height: calc(5vh + 2em);
  list-style: none;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 2vmin;
  width: 50%;
  z-index: 9;
}

.nav_list li {
  display: inline-flex;
  justify-content: center;
  width: 15%;
  padding: 0 1vw;
}

.nav_list li a {
  color:#f5f5f5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding: calc(1.3vh + 0.8em) 0;
  font-size: calc(0.2em + 0.8vw);
  text-decoration: none;
  transition: all 0.2s ease; /* Hover effect */
}

.nav_list li a:hover {
  color:#70C1B3;
}

/* --- Main Content --- */

#about {
  background: #0b0b0b;
}

#about td{
  padding: calc(6em + 8vmax) 0;
}

.prof_pic_back:before {
  content: "";
  position: absolute;
  width: 100%; 
  height: 100%;
}

.prof_pic_back {
  position: relative;
}

.circle1 {
  top: calc(50% - 7.5vw - 1.5vw - 2px);
  left: calc(20vw - 1.5vw - 2px);
  position: absolute;
  z-index: 0;
  width: calc(18vw); 
  height: calc(18vw); 
  background-image: radial-gradient(circle at 1px 1px, #919191 1px, transparent 0);
  background-size: 6px 6px;
  border: 2px solid white;
  border-radius: 50%;
}

.prof_pic {
  height: auto;
  width: 15vw;
  margin-left: 20vw;
  border-radius:50%;  
  vertical-align: middle;
  box-shadow: 0 0px 14px rgba(0,0,0,1), 0 0px 8px rgba(0,0,0,0.8);
  position: relative;
  z-index: 1;
}

.prof_bio {
  vertical-align: middle;
}

#projects > td > p, #projects > td > h2, #contact > td > p, #contact > td > h2 {
  text-align: center;
}

.content_divisors {
  width: auto;
  border-collapse: collapse; /* Unites the borders into one line */
}

.content_divisors > tbody > tr{
  background-color: #FFFFFF;
}

/* nth-child(2n) selects all the even-numbered positions of table rows (2, 4, 6, 8...) */

.content_divisors > tbody > tr:nth-child(2n){
  background: url(../img/project_back.svg) no-repeat, #F2F2F2;
  background-size: cover;
}

/* Project display */

.projects_display {
  width: 50%;
  margin: auto;
  padding: 6vh 0 10vh 0;
}

.project_container {
  width: 80%;
  height: calc(19vw + 4em);
  margin: auto;
  background-color: white;
  box-shadow: 0px 1px 3px grey;
  padding: 1.5vw;
  position: relative;
  transition: 0.25s ease;
}

@media (max-width: 1440px) {
	.projects_display {
	  width: 55%;
	  margin: auto;
	  padding: 6vh 0 10vh 0;
	}
}

@media (max-width: 1150px) {
	.projects_display {
	  width: 60%;
	  margin: auto;
	  padding: 5vh 0 10vh 0;
	}
}

@media (max-width: 950px) {
	.projects_display {
	  width: 65%;
	  margin: auto;
	  padding: 5vh 0 10vh 0;
	}
}

@media (max-width: 850px) {
	.projects_display {
	  width: 75%;
	  margin: auto;
	  padding: 4vh 0 10vh 0;
	}
	.project_container {
	  height: calc(21vw + 4em);
	}
}

@media (max-width: 720px) {
	.projects_display {
	  width: 90%;
	  margin: auto;
	  padding: 4vh 0 10vh 0;
	}
}

@media (max-width: 600px) {
	.projects_display {
	  width: 95%;
	  margin: auto;
	  padding: 4vh 0 10vh 0;
	}
	.project_container {
	  height: calc(23vw + 4em);
	}
}

@media (max-width: 450px) {
	.project_container {
	  height: calc(25vw + 4em);
	}
}



.projects_display > tbody > tr > td {
  padding: 1vw;
  width: 50%;
}



.project_container h3{
  text-align: center;
  font-size: calc(1vw + 0.5em);
}

.project_container p {
  text-align: justify;
  font-size: calc(0.5vw + 0.4em);
  margin: 0 1vw;
}

.project_container a{
  color: #E0AF3C;
  width: calc(100% - 3vw - 0.8em);
  margin: auto;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  font-size: calc(0.4em + 0.7vw);
  padding: 0.7vw 0;
  background-color: white;
  position: absolute;
  bottom: 1.5em;
  border-radius: 0;
  border: solid 3px #E0AF3C;
  transition: 0.25s ease;
}

.project_container a:hover {
  color: white;
  background-color: #E0AF3C;
}

.project_container img {
  max-width: 100%;
  max-height: 40%;
  width: auto;
  height: auto;
  display: block;
  margin: auto;
  padding: 1vw 0;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: -o-crisp-edges;            /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
  -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
}

.project_container:hover{
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* --- Contact Section -- */

.contact-info {
	color: #b3b3b3;
	/*font-size: calc(0.95 * (0.4em + 0.8vw));*/
	text-align: center;
}

.contact-info a, .discord {
	text-decoration: none;
	display: inline;
	color: #b55959;
	transition: 0.2s ease;
}

.contact-info i {
	vertical-align: middle;
}

.contact-info a:hover {
	color: #dbdbdb;
}
