@import url('https://fonts.googleapis.com/css?family=Yantramanav:100,300,400&display=swap');

/* Clears all the default margins so I don't need to deal with white borders on the edges
   Also used to set up the font used for the website, "*" selects every item in the HTML file
   
   Also lots of the CSS units I used were "vh" and "vw", which are the height and width proportions of the browser window.
   This makes the website more responsive to different screen sizes.
*/

* {
  font-family: 'Yantramanav', sans-serif;
  margin: 0;
}

/* Modify how text is highlighted */
::selection {
  background: #E0AF3C;
  color: white;
}

::-moz-selection {
  background: #E0AF3C;
  color: white;
}

/* --- Basic HTML tags --- */
p,ul,a {
  display:block;
}

p {
  font-size: calc(0.4em + 0.8vw);
  line-height: calc(0.8em + 1vw);
  font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
  display: block;
  font-weight: 300;
}

h1 {
  font-size: calc(2em + 1vw);
}

h2 {
  font-size: calc(1em + 1vw);
}

h3 {
  font-size: calc(0.5em + 1vw);
}

strong {
  color: #E0AF3C;
  font-weight: 400;
}

b {
  color: #70C1B3;
  font-weight: 400;
}

/* --- Main header CSS --- */

.main_container {
  height: 100vh;
}

.fixed_container { /* This container is to contain the rest of the content, these won't get affected by the parallax effect */
  background-color: white;
  display: block;
  position: relative;
  z-index: 1;
}

/* Front part of the header (The mountains) */

.landing {
  background: url('../img/landing.JPG') no-repeat center center;
  height: 100vh;
  top: 0;
  z-index: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

/* How message on header is displayed */

.greeting {
  color:#FFF;
  height: 100vh;
  position:absolute;
  top: 50vh;
  left: 10%;
}

/* --- Navigation Bar --- */

.nav_list {
  background-color: white;
  display: inline-block;
  height: 7vh;
  list-style: none;
  padding: 0;
  position: sticky;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9;
  box-shadow: 0px 1px 3px grey;
}

.nav_list li {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  width: 15%;
}

.nav_list li a {
  align-items:center;
  color:#404040;
  height: 7vh;
  padding: 2.6vh 0;
  font-size: 1.8vh;
  text-decoration: none;
  transition: all 0.2s ease; /* Hover effect */
}

.nav_list li a:hover {
  color:#70C1B3;
}

/* --- Main Content --- */

#about td{
  padding: 20vh 0;
}

.prof_pic {
  height: auto;
  width: 15vw;
  margin-left: 20vw;
  border-radius:50%;  
  vertical-align: middle;
  box-shadow: 0 8px 24px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.22);
}

.prof_bio {
  vertical-align: middle;
}

#projects > td > p, #projects > td > h2, #contact > td > p, #contact > td > h2 {
  text-align: center;
}

.content {
  /*width: 100vw;*/
}

.content_divisors {
  width: 100%;
  border-collapse: collapse; /* Unites the borders into one line */
}

.content_divisors > tbody > tr > td {
  height: 30vh;
}

.content_divisors > tbody > tr{
  background-color: #FFFFFF;
}

/* nth-child(2n) selects all the even-numbered positions of table rows (2, 4, 6, 8...) */

.content_divisors > tbody > tr:nth-child(2n){
  background-color: #F2F2F2;
}

/* Project display */

.projects_display {
  width: 60%;
  margin: auto;
  padding: 6vh 0 10vh 0;
}

.projects_display > tbody > tr > td {
  padding: 1vw;
  width: 30%;
}

.project_container {
  width: 15vw;
  height: 21vw;
  margin: auto;
  background-color: white;
  box-shadow: 0px 1px 3px grey;
  padding: 1.5vw;
  position: relative;
  transition: 0.25s ease;
}

.project_container h3{
  text-align: center;
  font-size: calc(1vw + 0.1em);
}

.project_container p {
  text-align: justify;
  font-size: calc(0.8vw);
  margin: 0 1vw;
}

.project_container a{
  color: #E0AF3C;
  width: calc(100% - 3vw - 0.8em);
  margin: auto;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  font-size: calc(0.1em + 0.7vw);
  padding: 0.7vw 0;
  background-color: white;
  position: absolute;
  bottom: 1.5em;
  border-radius: inherit;
  border: solid 3px #E0AF3C;
  transition: 0.25s ease;
}

.project_container a:hover {
  color: white;
  background-color: #E0AF3C;
}

.project_container img {
  max-width: 100%;
  max-height: 40%;
  width: auto;
  height: auto;
  display: block;
  margin: auto;
  padding: 1vw 0;
}

.project_container:hover{
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* --- Contact Section -- */

.logo_pic {
  height: auto;
  width: calc(1em + 2vw);
  display: block;
  margin: auto;
}

#contact h2{
  padding: 2em 0 1em 0;
  text-align: center;
}

#contact td {
  padding: 1em;
}

#contact a {
  color: black;
  font-size: calc(1vw + 0.4em);
  font-weight: 200;
  text-decoration: underline dotted #b3b3b3;
  text-align: center;
}

#contact table{
  margin-bottom: 2em;
}

/* --- Footer --- */

footer {
  padding: 6vh 0;
  background-color:#353534;
}

footer p {
  color:#fff;
  text-align:center;
}